{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}
<h2>Register:</h2>
{% endblock header %}

{% block content %}
	<form action="{% url 'users:register_user' %}" method="POST" class="form">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% if error %}
	<p>{{ error }}</p>
	{% endif %}
	{% buttons %}
	<button name="submit" class="btn btn-primary">Register</button>
	{% endbuttons %}
	<input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
	</form>
{% endblock content %}